.club-activity {
    width: 1200px;
    margin-top: 30px;
}

.left {
    float: left;
    width: 580px;
    height: 620px;
}

.left img {
    width: 580px;
    height: 360px;
}

.p {
    width: 580px;
    height: 260px;
}

.p h5 {
    margin-top: 80px;
    text-align: center;
}

.p p {
    text-align: center;
}

.right {
    float: right;
    width: 580px;
    height: 670px;
}

.right img {
    width: 580px;
    height: 360px;
}

.right>p {
    float: right;
    height: 50px;
    line-height: 50px;
}


/* 轮播图 */

.wrap {
    position: relative;
    width: 1180px;
    height: 420px;
    margin: 0 auto;
    margin-top: 20px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.wrap img {
    position: absolute;
    width: 1180px;
    height: 420px;
}

.img-active {
    z-index: 5;
}


/* 轮播图小圆点 */

.slide_points {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-80%);
    font-size: 0;
    width: 100px;
    z-index: 7;
}

.slide_points .slide_point {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 12px;
}

.slide_points .slide_point_active {
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background-color: #cd3333;
}

.change {
    cursor: pointer;
}