* {
    margin: 0;
    padding: 0;
}

table {
    width: 800px;
    margin: 10px auto;
    border-collapse: collapse;
    /*边框合并模式*/
    text-align: center;
}

td,
th {
    /*td是后面tbody中动态创建的单元格，th是thead里面那一行中的单元格*/
    border: 1px solid #333;
}

thead tr {
    height: 40px;
    background-color: #cccccc;
}