* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}


/* 头部 */

.index-box {
    width: 1200px;
    height: 1422px;
    margin: 0 auto;
}

.index-box .header {
    height: 500px;
}

.index-box .header .nav-box {
    height: 60px;
}

.index-box .header .logo {
    width: 80px;
    height: 60px;
    float: left;
}

.index-box .header .nav-box .nav {
    width: 280px;
    height: 60px;
    float: left;
}

.index-box .header .nav-box .nav ul li {
    float: left;
    width: 70px;
    margin-left: 20px;
    line-height: 60px;
    text-align: center;
}

.index-box .header .nav-box .search {
    position: relative;
    float: left;
    width: 200px;
    margin-left: 300px;
    line-height: 60px;
}

.index-box .header .nav-box .search input {
    width: 285px;
    line-height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}

.index-box .header .nav-box .search img {
    position: absolute;
    top: 25%;
    margin-left: 250px;
}

.index-box .header .nav-box .login {
    float: right;
}

.index-box .header .nav-box .login span {
    line-height: 60px;
}

.index-box .header .nav-box .login span a {
    color: #000;
}


/* 导航栏浮动 */

.nav ul li:hover {
    background-color: rgb(116, 203, 191);
}


/* 轮播图 */

.wrap {
    position: relative;
    width: 1180px;
    height: 420px;
    margin: 0 auto;
    margin-top: 20px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.wrap img {
    position: absolute;
    width: 1180px;
    height: 420px;
}

.img-active {
    z-index: 5;
}


/* 轮播图小圆点 */

.slide_points {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-80%);
    font-size: 0;
    width: 100px;
    z-index: 7;
}

.slide_points .slide_point {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 12px;
}

.slide_points .slide_point_active {
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background-color: #cd3333;
}


/* 精彩赛事，社团组织 */

.content li {
    float: left;
    width: 290px;
    height: 360px;
    margin-right: 10px;
    margin-top: 30px;
    border: 1px solid #000;
}

.content li:nth-child(4) {
    margin-right: 0;
}


/* 底部 */

.footer {
    clear: both;
    width: 1200px;
    height: 110px;
}

.footer .copyright {
    float: left;
}

.footer .copyright p {
    line-height: 110px;
}

.footer .contact {
    float: right;
}

.footer .contact span {
    line-height: 110px;
}

.footer .contact span a {
    color: #000;
}


/* 登录进去之后显示的div */

.login-true1 {
    display: none;
    float: right;
}

.login-true2 {
    display: none;
    float: right;
}

.login-true1 span {
    line-height: 60px;
    text-align: center;
}

.login-true2 span {
    line-height: 60px;
    text-align: center;
}


/* 二级导航栏 */

.nav2 {
    display: none;
    width: 105px;
    height: 105px;
}

.nav2 li {
    line-height: 35px;
}

.nav2 li:hover {
    color: #fff;
    background-color: rgb(116, 203, 191);
}


/* 点击头像之后二级导航栏出现 */

.photo:hover .nav2 {
    display: block;
}