* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}
#activeDiv{
    margin-top: 40px;
    /*border: 2px solid black;*/
    border-radius:15px;
}
#activeDiv li {
    border-bottom: 1px solid #000000;
}
#activeDiv li:nth-child(last){
    border: none;
}
#parDiv{
    /*border: 2px solid black;*/
    border-radius:15px 15px 15px 15px;
}
#act{
}
.content {
    width: 1200px;
    margin: 0 auto;
}

.content .title {
    height: 50px;
}

.content .title h1 {
    line-height: 50px;
    text-align: center;
}