* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.header {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.content {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.content .left {
    float: left;
    width: 420px;
    height: 500px;
}

.content .left .photo {
    width: 200px;
    height: 200px;
    margin: 160px 170px 40px 45px;
    border: 1px solid #000;
    border-radius: 50%;
}

.content .left .photo img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.content .left .nickName {
    width: 200px;
    height: 35px;
    margin-left: 65px;
    font-size: 20px;
}

.content .left .nickName img {
    width: 20px;
    height: 20px;
}

.content .right {
    float: left;
    width: 780px;
    height: 600px;
    background-image: url(../image/person-center-bg.png);
}

.content .right div {
    width: 300px;
    height: 400px;
    margin: 180px 50px 40px 0;
}

.content .right p {
    margin: 10px 0;
    font-size: 18px;
}

.content .right p img {
    width: 25px;
    height: 25px;
}