* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.logo {
    width: 80px;
    height: 60px;
    float: left;
}

.search {
    position: relative;
    float: left;
    width: 400px;
    margin-left: 30px;
    line-height: 60px;
}

.search input {
    width: 385px;
    line-height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}

.search img {
    position: absolute;
    top: 25%;
    margin-left: -40px;
    height: 33px;
}

.content {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

.left {
    width: 660px;
    height: 800px;
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    background-color: aquamarine;
}

.left .title {
    font-size: 26px;
}
.left .search-con{
    font-size: 20px;
}
.left #infoDiv{
    display: inline-block;
}
.right {
    width: 400px;
    height: 800px;
    float: left;
}

.right .hotTitle {
    font-size: 16px;
}

.right .search-con {
    font-size: 14px;
}